body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/* solution */

div {
  border: solid red 1px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;

}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 32px;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.cards {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  padding: 48px;
}

.card {
  flex-grow: 1;
  flex-basis: 300px;
  height: 300px;
  padding: 16px;
}

.sidebar {
  min-width: 300px;
  font-size: 24px;
  padding: 16px;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

ul {
  margin: 0px;
  padding: 0px;
}